<!DOCTYPE html>
<html lang="en-gb">
  <head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
  </head>
  <body>
    <header>
      <h1><a href="/">{{ site.title }}</a></h1>
    </header>


    {% include navigation.html %}

    <main>
    <h2>{{ page.title }}</h2>
      {{ content }}
    </main>

    <footer>
      <hr>
      <p>© 2025 Sean Randall</p>

    </footer>
  </body>
</html>